@import './colors.scss';

.dashboard {
  margin-top: 150px;
}

.dashboard__header {
  height: 204px;
  width: 100%;
  background-image: linear-gradient(119deg, #008ffc, #1adbc9);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  h1 {
    text-align: center;
    font-size: 68px;
    font-weight: 900;
    color: $white-three;
    line-height: 50px;
  }
  h2 {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: $white-three;
    padding-top: 20px;
    font-weight: lighter;
  }
}

.dashboard__box-salvadanaio-img {
  position: absolute;
  right: 0;
  top: 0;
}

.box {
  border-radius: 8px;
  background-color: $white-three;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
  margin-bottom: 24px;
}

.box__weekly-stats {
  height: 14px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.5px;
  text-align: left;
  color: $dark-sky-blue-two;
  padding: 16px 16px 0 16px;
}

.box__investment-this-week {
  font-size: 10px;
  font-weight: bold;
  color: $dark-sky-blue-two;
  padding: 0 16px;
}

.box__text-number-in-split {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: $greyish-brown;
  margin: 15px 0 0 0;
  strong {
    font-size: 24px;
  }
}

.box__text-under-number {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $dark-sky-blue-two;
}

.box__weekly-stats-amount {
  padding: 0 16px;
  font-size: 30px;
  color: $greyish-brown;
  strong {
    font-size: 40px;
  }
}

.box__weekly-vertical-line {
  border-left: solid 1px #e0e0e0;
  height: 82px;
  width: 1px;
  position: absolute;
  right: 0;
  top: 0;
}

.box__left-arrow-action {
  height: 100px;
  line-height: 100px;
  text-align: center;
  width: 60px;
  float: right;
  border-left: solid 1px #e0e0e0;
  img {
    margin-left: 12px;
  }
}

.box__investment-content {
  float: left;
  padding: 16px 0;
}

.dashboard__your-active-investmets {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  color: $dark-sky-blue-two;
}

.box__investment-title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  color: $dark-sky-blue-two;
}
