@import './colors.scss';
@import url('https://rsms.me/inter/inter-ui.css');

body {
  height: 100%;
  margin-bottom: 100px;
  font-family: 'Inter UI', sans-serif;
  color: $greyish-brown;
}
.global {
  // background-color: red;
}

.clear {
  clear: both;
}

p {
  margin-bottom: 0;
}
