@media (min-width: 312px) {
  .sidemenu {
    display: none;
  }
}

@media (min-width: 1024px) {
  .sidemenu {
    display: block;
    position: relative;
    z-index: 2;
  }

  .sidemenu__menu-list {
    list-style: none;
    padding-left: 0;
    margin-top: 30px;
    li {
      p {
        float: left;
        font-size: 20px;
        margin-bottom: 15px;
        img {
          margin-right: 10px;
        }
      }
    }
  }
}
