.dashboard {
  margin-top: 150px; }

.dashboard__header {
  height: 204px;
  width: 100%;
  background-image: linear-gradient(119deg, #008ffc, #1adbc9);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1; }
  .dashboard__header h1 {
    text-align: center;
    font-size: 68px;
    font-weight: 900;
    color: #ffffff;
    line-height: 50px; }
  .dashboard__header h2 {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    padding-top: 20px;
    font-weight: lighter; }

.dashboard__box-salvadanaio-img {
  position: absolute;
  right: 0;
  top: 0; }

.box {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
  margin-bottom: 24px; }

.box__weekly-stats {
  height: 14px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.5px;
  text-align: left;
  color: #268be2;
  padding: 16px 16px 0 16px; }

.box__investment-this-week {
  font-size: 10px;
  font-weight: bold;
  color: #268be2;
  padding: 0 16px; }

.box__text-number-in-split {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #585858;
  margin: 15px 0 0 0; }
  .box__text-number-in-split strong {
    font-size: 24px; }

.box__text-under-number {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: #268be2; }

.box__weekly-stats-amount {
  padding: 0 16px;
  font-size: 30px;
  color: #585858; }
  .box__weekly-stats-amount strong {
    font-size: 40px; }

.box__weekly-vertical-line {
  border-left: solid 1px #e0e0e0;
  height: 82px;
  width: 1px;
  position: absolute;
  right: 0;
  top: 0; }

.box__left-arrow-action {
  height: 132px;
  line-height: 132px;
  text-align: center;
  width: 60px;
  float: right;
  border-left: solid 1px #e0e0e0; }
  .box__left-arrow-action img {
    margin-left: 12px; }

.box__investment-content {
  float: left;
  padding: 16px 0;
  width: 78%;
  position: relative; }

.dashboard__your-active-investmets {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  color: #268be2; }

.box__investment-title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1;
  color: #268be2; }
  .box__investment-title img {
    margin-right: 8px; }

.box__investment-text {
  font-size: 14px;
  color: #585858; }

.box__investment-perc-oval {
  width: 32px;
  height: 32px;
  background-color: #268be2;
  position: absolute;
  right: 5px;
  top: 10px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.6;
  text-align: center;
  color: #ffffff;
  line-height: 32px; }
