@import url("https://rsms.me/inter/inter-ui.css");
body {
  height: 100%;
  margin-bottom: 100px;
  font-family: 'Inter UI', sans-serif;
  color: #585858; }

.clear {
  clear: both; }

p {
  margin-bottom: 0; }
