@import url("https://rsms.me/inter/inter-ui.css");
body {
  height: 100%;
  margin-bottom: 100px;
  font-family: 'Inter UI', sans-serif;
  color: #585858; }

.clear {
  clear: both; }

p {
  margin-bottom: 0; }

@media (min-width: 1024px) {
  .hidden-md-up {
    display: none; } }

input[type='range'] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
  height: 4px;
  background-color: #cccccc;
  margin-top: 30px; }

/* Special styling for WebKit/Blink */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #268be2;
  cursor: pointer; }

/* All the same stuff for Firefox */
input[type='range']::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #268be2;
  cursor: pointer; }

/* All the same stuff for IE */
input[type='range']::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #268be2;
  cursor: pointer; }
