@media (min-width: 312px) {
  .sidemenu {
    display: none; }
  .sidemenu__hi {
    color: #fff; } }

@media (min-width: 1024px) {
  .sidemenu {
    display: block;
    position: relative;
    z-index: 4; }
  .sidemenu__hi {
    line-height: 45px;
    white-space: nowrap; }
  .sidemenu__menu-title {
    margin-top: 50px; }
  .sidemenu__menu-list {
    list-style: none;
    padding-left: 0;
    margin-top: 30px; }
    .sidemenu__menu-list li p {
      float: left;
      font-size: 20px;
      margin-bottom: 15px; }
      .sidemenu__menu-list li p img {
        margin-right: 10px; } }
